public/webservices/wsdl/DataMapping.wsdl

<?xml version='1.0' encoding='utf-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable" xmlns:diag="http://example.com/DataMapping" xmlns:Services="http://example.com/DataMapping/Services" xmlns:tns="http://www.example.org/shemaDataMapping" xmlns:shemaDataMapping="http://www.example.org/shemaDataMapping" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:pnlk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:this="http://example.com/DataMapping/DataMapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://example.com/DataMapping/DataMapping">
    <wsdl:types>
        <xs:schema targetNamespace="http://www.example.org/shemaDataMapping">
            <xs:include schemaLocation="DataMapping.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetManagerByDepartmentRequest">
        <wsdl:part name="body" element="tns:GetManagerByDepartment_request"/>
    </wsdl:message>
    <wsdl:message name="GetManagerByDepartmentResponse">
        <wsdl:part name="body" element="tns:GetManagerByDepartment_response"/>
    </wsdl:message>
    <wsdl:message name="GetWorkspaceByDepartmentAndWorkflowRequest">
        <wsdl:part name="body" element="tns:GetManagerByDepartment_request"/>
    </wsdl:message>
    <wsdl:message name="GetWorkspaceByDepartmentAndWorkflowResponse">
        <wsdl:part name="body" element="tns:GetWorkspaceByDepartmentAndWorkflow_response"/>
    </wsdl:message>
    <wsdl:portType name="ForServices">
        <wsdl:operation name="GetManagerByDepartment">
            <wsdl:input message="this:GetManagerByDepartmentRequest" name="GetManagerByDepartment"/>
            <wsdl:output message="this:GetManagerByDepartmentResponse" name="GetManagerByDepartmentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetWorkspaceByDepartmentAndWorkflow">
            <wsdl:input message="this:GetWorkspaceByDepartmentAndWorkflowRequest" name="GetWorkspaceByDepartmentAndWorkflow"/>
            <wsdl:output message="this:GetWorkspaceByDepartmentAndWorkflowResponse" name="GetWorkspaceByDepartmentAndWorkflowResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CanonicBindingForServices" type="this:ForServices">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetManagerByDepartment">
            <soap:operation style="document" soapAction="http://localhost/bpmproject/public/webservices/DataMapping/GetManagerByDepartment"/>
            <wsdl:input name="GetManagerByDepartment">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetManagerByDepartmentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWorkspaceByDepartmentAndWorkflow">
            <soap:operation style="document" soapAction="http://localhost/bpmproject/public/webservices/DataMapping/GetWorkspaceByDepartmentAndWorkflow"/>
            <wsdl:input name="GetWorkspaceByDepartmentAndWorkflow">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetWorkspaceByDepartmentAndWorkflowResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
    <wsdl:service name="CanonicServiceForServices">
        <wsdl:port name="canonicPort" binding="this:CanonicBindingForServices">
            <soap:address location="http://localhost/bpmproject/public/webservices/DataMapping"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>